@model IEnumerable<Internal.HealthBrigde.Cleint.Models.Patient>

@{
    ViewBag.Title = "Patient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Patients</h2>

<p>
    @Html.ActionLink("New Customer", "New", "Patients", null, new { @class = "btn btn-primary" })
</p>

    <table id="patients" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>ID Number</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>